@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 157 26% 92%;
    --card-foreground: 152 65% 20%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
 
    --primary: 152 65% 34%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 157 26% 92%;
    --secondary-foreground: 152 65% 20%;
 
    --muted: 157 26% 92%;
    --muted-foreground: 152 65% 40%;
 
    --accent: 152 65% 34%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 152 20% 80%;
    --input: 157 26% 92%;
    --ring: 152 65% 34%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
 
    --card: 152 20% 15%;
    --card-foreground: 157 26% 92%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;
 
    --primary: 152 65% 34%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 152 20% 20%;
    --secondary-foreground: 157 26% 92%;
 
    --muted: 152 20% 20%;
    --muted-foreground: 152 20% 70%;
 
    --accent: 152 65% 34%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 152 20% 25%;
    --input: 152 20% 20%;
    --ring: 152 65% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} 